// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #BD2EC9;
$header-bg-color-secondary: #692EC9;

// Text

$section-headings-color: #BF47FF !default;
$body-text-color: #CBB9FF !default;
$body-link-color: #B6D6FF;
$link-hover-color: #9884E8;
$blockquote-text-color: #819198 !default;
$body-bg-color: #45356B;

// Code
$code-bg-color: #D8C3FF !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
